{% extends "base.html" %}

{% block content %}
<h1>Tareas {% if proyecto %}de {{ proyecto.nombre }}{% endif %}</h1>
<ul>
    {% for tarea in tareas %}
        <li>
            <h3>{{ tarea.nombre }}</h3>
            <p>Descripción: {{ tarea.descripcion }}</p>
            <h4>Comentarios</h4>
            <ul>
                {% for comentario in tarea.comentarios.all %}
                    <li>{{ comentario.usuario }} - {{ comentario.fecha_creacion }}: {{ comentario.contenido }}</li>
                {% empty %}
                    <li>No hay comentarios.</li>
                {% endfor %}
            </ul>
            {% if user.is_authenticated %}
                <a href="{% url 'comentario_crear' tarea.id %}">Agregar Comentario</a>
            {% endif %}
        </li>
    {% empty %}
        <li>No hay tareas para este proyecto.</li>
    {% endfor %}
</ul>
{% if user.is_authenticated and user.is_superuser %}
<a href="{% url 'tarea_crear' proyecto_id=proyecto.id %}">Crear Tarea</a>
{% endif %}
<a href="{% url 'proyectos' %}">Volver a Proyectos</a>
{% endblock %}