{% extends "base.html" %}

{% block content %}
<h1>Proyectos</h1>
<ul>
    {% for proyecto in proyectos %}
        <li>{{ proyecto.nombre }}
            <a href="{% url 'proyecto_detalle' proyecto.id %}">Ver Detalles</a>
        </li>
    {% empty %}
        <li>No hay proyectos disponibles.</li>
    {% endfor %}
</ul>
{% if user.is_authenticated and user.is_superuser %}
    <a href="{% url 'proyecto_crear' %}">Crear Proyecto</a>  <!-- Asegúrate de que esta URL esté definida -->
{% endif %}
<a href="{% url 'home' %}">Volver al Inicio</a>
{% endblock %}