{% extends "base.html" %}

{% block content %}
<h1>Proyectos</h1>
<ul>
    {% for proyecto in proyectos %}
        <li>{{ proyecto.nombre }} 
            <a href="{% url 'proyecto_detalle' proyecto.id %}">Ver</a>
            <a href="{% url 'proyecto_editar' proyecto.id %}">Editar</a>
            <a href="{% url 'proyecto_eliminar' proyecto.id %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay proyectos disponibles.</li>
    {% endfor %}
</ul>
<a href="{% url 'proyecto_crear' %}">Crear Proyecto</a>
{% endblock %}