{% extends "base.html" %}

{% block content %}
<h1>Enviar Mensaje</h1>
<form method="post">
    {% csrf_token %}
    {{ form.receptor_type.label_tag }} {{ form.receptor_type }}
    {% if form.receptor_type.value == 'user' or form.receptor_type.value == '' %}
        {{ form.usuario_receptor.label_tag }} {{ form.usuario_receptor }}
    {% elif form.receptor_type.value == 'group' %}
        {{ form.grupo.label_tag }} {{ form.grupo }}
    {% endif %}
    {{ form.contenido.label_tag }} {{ form.contenido }}
    <button type="submit">Enviar</button>
</form>
<a href="{% url 'mensajes_proyecto' proyecto_id %}">Volver a Mensajes</a>
{% endblock %}

{% block script %}
<script>
    document.querySelectorAll('input[name="receptor_type"]').forEach(radio => {
        radio.addEventListener('change', function() {
            const form = document.querySelector('form');
            form.submit(); // Recarga la página para actualizar los campos visibles
        });
    });
</script>
{% endblock %}