{% extends "base.html" %}

{% block content %}
<h1>Notificaciones</h1>
<ul>
    {% for notificacion in notificaciones %}
        <li>
            {{ notificacion.mensaje }} - {{ notificacion.fecha }} 
            {% if not notificacion.leida %}
                (<a href="{% url 'marcar_notificacion_leida' notificacion.id %}">Marcar como leída</a>)
            {% else %}
                (Leída)
            {% endif %}
        </li>
    {% empty %}
        <li>No tienes notificaciones.</li>
    {% endfor %}
</ul>
<a href="{% url 'home' %}">Volver al Inicio</a>
{% endblock %}